/*

/* Begin Typography & Colors */

#content {
	margin-top:1em
	}

.widecolumn .entry p {
	font-size: 1.05em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.4em;
	}

.widecolumn {
	line-height: 1.6em;
	}

.narrowcolumn .postmetadata {
	text-align: center;
	}

.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}



small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	}

#blog h1 {position: absolute; top: -1500em; left: 0; margin-top: 0;  width: 1px; height: 1px; overflow: hidden; }

#headerimg .description {
	font-size: 1.2em;
	text-align: center;
	}

h2 {
	font-size: 1.6em;
	}

h2.pagetitle {
	font-size: 1.6em;
	}

#sidebar h2 {

	}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: #fff;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #333;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, cite {
	text-decoration: none;
	}

.entry p a:visited {
	color: #b85b5a;
	}

.entry p a:visited:hover { color:#fff }

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

#sidebar {
	text-align:left

	}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

h2 a:hover, h3 a:hover {
	color: #fff;
	text-decoration: none;
	}



/* End Typography & Colors */



/* Begin Structure */

.post {
	margin: 0 0 40px;
	/*text-align: justify;*/
	}

.post hr {
	display: block;
	}

.widecolumn .post {
	margin: 0;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}


.postmetadata {
	clear: left;
}


/* End Structure */



/*	Begin Headers */
#blog .post h1 { position:static; width:auto; height:auto; margin:0 0 3em 0 0; overflow:visible; color:#000; font-size:129% }
	#blog .post h1 a { color:#000; text-decoration:none;  }

h2 {
	margin: 3em 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

#sidebar h2 {
	margin: 5px 0 0;
	padding: 0;
	}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}

#content.wideColumn .post h2 { margin-top:0; margin-bottom:1em; font-size:125% }
	#content.wideColumn .post h3 { margin-top:0; margin-bottom:1em; font-size:120% }

h2#comments { margin-top:2em; font-size:1.3em }

.post small a { font-size:1em }

/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	width:100%;
	text-align:right;
	}

.alignleft {
	float: left;
	width:100%;
	text-align:left;
	}
/* End Images */


.entry p { margin:1em 0 }

/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

.entry ul { margin-left: 0; padding: 0 0 0 2em; list-style: none; }



/*.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}*/

.entry ul li, #sidebar ul ul li { padding-left:1.5em; background:url(images/bullet.gif) no-repeat 0 .5em  }
#sidebar ul ul li { padding-left: 1.1em }
.entry ul li { margin-bottom:1em; }

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 1em;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}


/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
}

#sidebar #searchform #s {
	width: 108px;
	height:1.5em;
	padding: 2px;
	border:1px solid #B7B7B7;
	vertical-align:middle
	}

#sidebar #searchsubmit { width:5em; vertical-align:middle }
#sidebar #searchsubmit, #commentform #submit {
	background:transparent url(images/bck_submit.gif) repeat-x scroll 0 0;
	border:medium none;
	height:1.9em;
	margin-right:0;
	padding:0 1em;
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	border:1px solid #B7B7B7;
	}

#commentform textarea {
	width: 98.9%;
	padding: 2px;
	border:1px solid #B7B7B7;
	}

#commentform #submit {
	margin: 0;
	float: right;
	}
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	margin:0;
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 1em 0;
	padding: .5em;
	list-style: none;
}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	font-size:110%;
	}
/* End Comments */



/* Begin Sidebar */

#sidebar form {
	margin: 0;
	}
/* End Sidebar */


/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 6em;
	}
/* End Various Tags & Classes*/

.sus { display:block; width:15em }

#sidebar li.rss { margin:2em 0; }
	#sidebar li.rss h2 { padding:.5em 0 1em 2.5em; background:url(images/ico_rss.gif) no-repeat 0 0 }

.entry ul li p { line-height:normal }

.entry h2 { margin-top:2em; letter-spacing:-1px; color:#000 }

.entry blockquote ol { margin:1em 0; }
	.entry blockquote li { margin-bottom:1em; }

li.banner { margin:1em 0; }
	li.banner img { display:block; margin:0 auto; }
	
#commentform .acepto input { display: inline; width:auto }
				#commentform .acepto a {  text-decoration: underline; font-size:1em }
					#commentform .acepto a:hover { text-decoration: none }	
					

.msgError { margin-bottom: 1em; padding:1em; border: 1px solid #B11818; background:#fff;color: #B11818 !important; font-size: 1em; font-weight:bold  }
	.msgError ul { margin:1em 2em }
	.msgError li, .msgError span {color:#FF0000; }
	form .error, form .error label small, .error label input, label.error a { color:#E00101 !important;}		
	form .error input { border:1px solid #E00101 !important; }			